%h1
  = t('remove_variant')

%p
  = t('text.remove_variant.warning')

- form_for [:admin, @shop_variant.becomes(ShopVariant)], :html => {:method => :delete, 'data-onsubmit_status'=>"Removing Variant&#8230;"} do
  
  %p.buttons
    %input.button{:type=>"submit", :value => t('delete_variant') }/
    = t('or')    
    = link_to t('cancel'), admin_shop_variants_path