- form_for [:admin, @shop_variant], :html => {'data-onsubmit_status'=>"Saving Changes&#8230;"} do |f|
  - render_region :form do |form|  
    - form.inputs do
      = render :partial => '/admin/shop/variants/edit/inputs',  :locals => { :f => f }
  
    - form.meta do
      = render :partial => '/admin/shop/variants/edit/meta',    :locals => { :f => f }
  
    - form.parts do
      = render :partial => '/admin/shop/variants/edit/parts',   :locals => { :f => f }
    
    - form.foot do
      = render :partial => 'admin/shop/variants/edit/foot',     :locals => { :f => f }